body{
    background: #333333;
    overflow-x:hidden;
}

.bg-gray {
    background-color: #383838dc;
}

.nav-link {
    color: white;
}

.text-gray {
    color: #777777;
}

.logo-width {
    width: 45px;
}

.hover-expand:hover {
    transform: scale(1.01);
    transition-duration: 350ms;
}

/* gallery images */
.pics{
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-s{
    background-color: white;
    width: 300px;
    height: 275px;
    margin: 20px;
    border-radius: 10px;
    transition: all 300ms;
    position: relative;
}

.card-s:hover{
    transform: scale(1.10);
    box-shadow: 5px 5px 10px #888888;
}

.card-s img{
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #868686;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #545353;
}