body{
    background: #333333;
    overflow-x:hidden;
}

.bg-gray {
    background-color: #383838dc;
}

.nav-link {
    color: white;
}

.text-gray {
    color: #777777;
}

.padding-25 {
    padding: 25px;
}

.padding-0 {
    padding: 0;
}

.rd {
    width: 100%;
}

.hover-expand:hover {
    transform: scale(1.01);
    transition-duration: 350ms;
}

/* gallery images */
#pics{
    display: flex;
    padding-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-s{
    background-color: white;
    width: 230px;
    height: 210px;
    margin: 20px;
    border-radius: 15px;
    position: relative;
    transition: all 300ms;
}

.card-s:hover{
    box-shadow: 5px 5px 15px grey;
    transform: scale(1.15);
}

.card-s img{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #868686;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #545353;
}